/* SIGNUP PASSWORD AUTHENTICATION PAGE CSS */

.pass-auth-page{
    color: var(--base-text);
    font-size: 0.85rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* header */

.pass-auth-page header {
    text-align: center;
    font-size: 0.68rem;
}

.pass-auth-page header a:hover {
    color: var(--base-secondary-interactive-hover);
}

/* forgot password form */

.pass-auth-form-container  h1{
    text-transform: uppercase;
    font-size: 1.72rem;
    margin: 0.5rem 0 0.9rem;
}
.pass-auth-form-container p {
    margin:0 0.9rem 1rem;
}

.pass-auth-form-container  h1,
.pass-auth-form-container p{
    text-align: center;
}

.pass-auth-form-container input {
    width: 100%;
    padding: 0.8rem;
    height: 50px;
    margin: 0.2rem 0 1rem;
    border: 1px solid var(--base-border-color);

}

.pass-auth-submit-btn {
    background-color: #222222;
    color: var(--base-primary-reverse-text);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem;
    margin: 0.8rem 0 3rem;
    border: 1px solid var(--base-border-color);
    height: 50px;
}

